footer {
  width: 100%;
  background-color: #696969;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
  height: 80px;
}

.fa-github {
  color: black;
}
.fa-codepen {
  color: white;
}
.fa-twitter {
}
.socialIcon {
  margin-left: 2%;
}

#followMe {
    text-align: right;
}
.link {
  text-decoration: none;
  color: white;
}
/** ****************** MEDIA QUERIES ***************/

@media (max-width: 767px) {
  footer {
    height: 125px;
    p {
      font-size: 0.9em;
      text-align: center
    }
  }
  #followMe, .socialLabel {
    display: none;
  }
  .socialIcon {
    font-size: 48px;
    margin-left: 0;
  }
  .link {
    text-align: center;
  }
}
