<div id="background">
  <div class="container mt-5 mb-5">
    <h1 class="text-center" *ngIf="isMyPoll">Your Polls</h1>
    <h1 class="text-center" *ngIf="!isMyPoll">Polls</h1>

  <div class="col-8 offset-2">
    <button id="addPoll" class="btn mb-3" routerLink="/new" *ngIf="isAuthenticated">
      <span class="fa fa-plus"> Add new poll</span>
    </button>
    <div *ngFor = "let poll of polls; let i = index" class="list mb-2">
      <div [routerLink]="['/poll', poll._id]" class="text-center listItem">
        <h2>{{poll.title}}</h2>
        <p>{{poll.description}}</p>
      </div>
      <div class="row actionContainer" *ngIf="isMyPoll">
        <div class="col-6">
          <a class="btn btn-block btn-info action" href="https://twitter.com/intent/tweet?url=http://localhost:4200/poll/{{poll._id}}" target="_blank">
           <span class="fa fa-share"> Share on Twitter</span>
          </a>
        </div>
        <div class="col-6">
          <button class="btn btn-block btn-danger action" (click)=delete(poll._id,i)>
            <span class="fa fa-trash"> Delete</span>
          </button>
        </div>
      </div>
    </div>
  </div>

  </div>
</div>
