
<div *ngIf="poll" class="container">

  <div class="mt-3 mb-5">
    <h1 class="text-center">{{poll.title}}</h1>
  </div>

<div class="card-group mt-5 mb-5">

    <!-- Voting Box -->
    <section class="card">
      <header class="card-header text-center">
        <h2>Vote Here</h2>
      </header>
      <div class="card-block mt-2 mb-2">
          <div *ngFor="let topic of poll.topics; let i=index" class="card-group mb-1 mt-1 ml-2 mr-2 voteLine">
            <div class="col-10">
              <p id="voteText">{{topic.title}} : {{topic.votes}} votes</p>
            </div>
            <div class="col-2">
              <button class="btn btn-secondary" (click)="vote(i)">vote</button>
            </div>
          </div>

          <div *ngIf="isAuthenticated" style="padding-left: 5px" class="mt-3 ml-1">
            <button *ngIf="!formStatus" (click)="displayTopicForm()" id="topicCreator" class="btn btn-primary">
              <span class="fa fa-plus"> add new option</span>
            </button>
            <div *ngIf="formStatus">
              <input type="text" name="topicTitle" [(ngModel)]="topicTitle" required placeholder="Option title">
              <button (click)="addTopic()" class="btn btn-success mr-1 ml-1">add</button>
              <button (click)="cancelTopic()" class="btn btn-secondary">cancel</button>
            </div>
          </div>

      </div>
    </section>

    <!-- Voting Chart -->
    <section class="card">
      <header class="card-header text-center">
        <h2>Voting Chart</h2>
      </header>
      <div class="card-block charContainer">
        <google-chart
          [type]="barChartType"
          [data]="barChartData"
          [options]="barOption"
          [width]="500">

        </google-chart>
      </div>
    </section>

</div>

</div>
