.container {
  margin-top: 50px;
  min-height: calc(100vh - 30px);
}

.jumbotron {
  background-color: #708090;
  color: white;
  font-size: 1.7em;
  // height: 200px;
  text-align: center;
  padding-top: 15px;
  border: solid blue 3px;
  p {
    font-size: 1em;
  }
}
.signin {
  cursor: pointer;
  color: goldenrod;
}
p {
  font-size: 1.2em;
}
